{% extends "base.html" %}
{% load static %}
{% block content1 %}
<div class="row my-2">
    <div class="col-4 text-center my-5 text-light">
        <h1 class="mt-5"> Stay connected </h1>
        <h3 class="mt-5">
          <a href="mailto:akalimuallah900@gmail.com" class="text-white text-decoration-underline">
            akalimullah900@gmail.com
          </a>
        </h3>
        <a href="/media/kalimullah_ansari.vcf" class="btn btn-outline-success mt-2" download>Download vCard</a>
        <a href="https://www.linkedin.com/in/kalimullah-ansari-397680250/" target="_blank" class="btn btn-primary mt-2" style="background-color:#0077b5; border:none;">
          <i class="bi bi-linkedin" style="font-size:1.2em;"></i> Connect on LinkedIn
        </a>
        <div class=" d-flex justify-content-center align-items-center mt-5">
            <a href="https://www.linkedin.com/in/kalimullah-ansari-397680250/" target="_blank" class="ms-3">
                <img src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/linkedin.svg" alt="linkedin" width="50" height="50" class="social_links">
            </a>
            <a href="https://github.com/kali8271" target="_blank" class="ms-3">
                <img src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/github.svg" alt="github" width="50" height="50" class="social_links">
            </a>
        </div>
    </div>
    <div class="col-5 offset-1 mt-3 ">
        <div class="container form-container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} mt-2">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <form method="post" novalidate>
                {% csrf_token %}
                <input type="text" name="website" style="display:none;" tabindex="-1" autocomplete="off">
                <div class="form-group m-3">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group m-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group m-3">
                    <label for="phone">Phone no</label>
                    <input type="tel" class="form-control" id="phone" name="phone">
                </div>
                <div class="form-group m-3">
                    <label for="message">Message</label>
                    <textarea class="form-control" id="message" name="message" rows="2" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content1 %}