{% extends "base.html" %}
{% load static %}
{% block content1 %}
<div class="container my-4">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for eachitem in experience %}
      <div class="col fade-in-up" style="animation-delay:{{ forloop.counter0|add:"0.2"|floatformat:1 }}s;">
        <div class="card shadow h-100">
          <div class="card-body">
            <h5 class="card-title">{{ eachitem.company }}</h5>
            <p class="card-text">{{ eachitem.position }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content1 %}