{% extends "base.html" %}
{% load static %}
{% block content1 %}

<div class="row my-5">
  <div class="col-12 d-flex justify-content-center align-items-center ">
    <div class="circular-image-container">
      <!-- Replacing with CDN URL for image -->
      <img class="circular-image" src=" {% static 'static/images/k2.jpeg' %}" alt="Image">
    </div>
  </div>

  <div class="col-12 text-center mt-3">
    <h4 class="title"> Hi, my name is </h4>
      <div class="name">
        <h1> Kalimullah Ansari </h1>
        <p></p>
      </div>
  </div>

  <div class="col-12 text-center mt-3">
    <div class="col-12 d-flex justify-content-center align-items-center ">
        <!-- LinkedIn icon -->
        <a href="https://www.linkedin.com/in/kalimullah-ansari-397680250/" target="_blank" class="ms-3">
            <img src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/linkedin.svg" alt="linkedin" width="50" height="50" class="social_links">
        </a>

        <!-- GitHub icon -->
        <a href="https://github.com/kali8271" target="_blank" class="ms-3">
            <img src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/github.svg" alt="github" width="50" height="50" class="social_links">
        </a>
    </div>
</div>

</div>
{% endblock content1 %}
